# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
venv/

# Environment files
.env

# Mac/Linux
.DS_Store